body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
  position: relative;
}

.color-scale-bar-container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 500px;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* Add some margin to the SVGs in your CSS file */
#barChartMale,
#barChartFemale {
  margin: 10px;
}

.upper-content,
.lower-content {
  flex: 1;
  /* Add any additional styles for the content sections */
}
